<h1 id="welcome">Welcome to the alkaline way of living !</h1>

<h3>Yello {{user.name}} !</h3>

<div class="container lemonphrase">
  <div class="row">
    <div class="col phrase">
      <article>{{phrase}}</article>
    </div>
    <div class="col">
      <img src="/images/winking-lemon.png" alt="lemon" />
    </div>
  </div>
</div>

<div class="roundButtons">
  <a href="/recipes" class="roundBtn palegreen btnSize1">Recipes</a>
  <a href="/create" class="roundBtn darkorange btnSize2">Create a recipe</a>
  <a href="/favorite" class="roundBtn gold btnSize2">Favorites</a>
  <a href="/create/published" class="roundBtn tomato btnSize3">Your recipes</a>
  <a href="/selfcare" class="roundBtn seagreen btnSize1">Selfcare</a>
  <a href="/information" class="roundBtn tomato btnSize1">Alkaline</a>
</div>

{{!
<div class="linkBtns">
  <a href="/recipes" class="palegreen btnSize1">
    <button type="button" class="btn">Recipes</button></a>
  <a href="/create" class="darkorange btnSize2">
    <button type="button" class="btn">Create a recipe</button></a>
  <a href="/favorite" class="gold btnSize2">
    <button type="button" class="btn">Favorites</button></a>
  <a href="/create/published" class="tomato btnSize3">
    <button type="button" class="btn">Your recipes</button></a>
  <a href="/selfcare" class="seagreen btnSize1">
    <button type="button" class="btn">Selfcare</button></a>
  <a href="/information" class="tomato btnSize1">
    <button type="button" class="btn">Alkaline</button></a>
</div>
}}

<form method="POST" action="/authentication/delete">
  <button class="outline">Delete Account</button>
</form>