{{!
<h1 id="welcome">Welcome to the alkaline way of living !</h1>
}}

<h2 id="welcome">Yello
  {{user.name}}
  !
  <br />
  Welcome to your alkaline life!</h2>

<div lass="container lemonphrase">
  <div class="row">
    <div class="col phrase">
      <article>{{phrase}}</article>
    </div>
    <div class="col">
      <img src="/images/winking-lemon.png" alt="lemon" />
    </div>
  </div>
</div>

<div class="containerLinks">
  <a href="/recipes">
    <button type="button" class="btn linkBtns palegreen">
      Recipes</button></a>
  <div class="row">
    <div class="col-6 col-md-4">
      <a href="/favorite">
        <button type="button" class="btn linkBtns gold">Favorites</button>
      </a>
    </div>
    <div class="col-6 col-md-4">
      <a href="/create">
        <button type="button" class="btn linkBtns seagreen">Create a recipe</button></a>
    </div>
    <div class="col-6 col-md-4">
      <a href="/create/published">
        <button type="button" class="btn linkBtns darkorange">Your recipes</button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <a href="/selfcare">
        <button type="button" class="btn linkBtns palegreen">Selfcare</button>
      </a>
    </div>
    <div class="col-6">
      <a href="/information">
        <button type="button" class="btn linkBtns gold">Alkaline Info</button>
      </a>
    </div>
  </div>
</div>

<a href="/authentication/delete-request" class="blackBtn">Delete Account</a>