<h1>Account of {{user.name}}</h1>
<p>Welcome to <strong>LemongrApp</strong>, the alkaline way of living</p>

<h2>
  <a href="/recipes">Recipes</a>
  <a href="/favorite">Favorite</a>
  <a href="/selfcare">Selfcare</a>
</h2>

<div>
  <form method="POST">
    <a href="/account">
    <button id="cheeky-phrase" type="button">
      <p>Squeeze lemon for the saying of the day</p>
      <img
        src="https://images.unsplash.com/flagged/photo-1587302164675-820fe61bbd55?ixlib=rb-4.0.3"
        alt="lemon"
      />
      </a>
    </button>
  </form>
  <article>{{phraseParent}}</article>
  <article>lemonphrase</article>
</div>