<p>Welcome to <strong>LemongrApp</strong>, the alkaline way of living</p>

<h1>Account of {{user.name}}</h1>

<h2>
  <a href="/recipes">Recipes</a>
  <a href="/create/published">Your recipes</a>
  <a href="/favorite">Favorites</a>
  <a href="/selfcare">Selfcare</a>
  <form method="POST" action="/authentication/delete">
    <button>Delete Account</button>
  </form>
</h2>

<div>
  <article>{{phrase}}</article>
  <img id="lemonphrase" src="/images/lemon-button2.png" alt="lemon" />
  {{!-- <img id="lemonphrase" src="{{image}}" alt="lemon" />--}}
</div>