<p>Welcome to <strong>LemongrApp</strong>, the alkaline way of living</p>

<h1>Yello {{user.name}} !</h1>

<div id="lemonphrase">
  <article>{{phrase}}</article>
  <img src="/images/winking-lemon.png" alt="lemon" />
</div>

<h2>
  <a href="/recipes">Recipes</a>
  <a href="/create/published">Your recipes</a>
  <a href="/favorite">Favorites</a>
  <a href="/selfcare">Selfcare</a>
  <a href="/create">Create a recipe</a>
  <form method="POST" action="/authentication/delete">
    <button>Delete Account</button>
  </form>
</h2>