<h1>{{title}}</h1>
<div>
<ul>
  {{#each selfcare}}
    {{> categorySelfcare}}
  {{/each}}
</ul>
</div>

<h3 class="goBack">
  <a href="/selfcare"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>