
<h1>Why is te category not shown?</h1>
<h1>{{selfcare.category}}</h1>
<h1>{{selfcare.category}}</h1>
<h1>{{category}}</h1>

<div>
<ul>
  {{#each selfcare}}
    {{> categorySelfcare}}
  {{/each}}
</ul>
</div>

<h3><i>
    <a href="/account">Go back</a>
  </i>
</h3>