<div class="container">

<h1 class="lemonFont">All selfcare categories</h1>


  <label>
    <div class="selfcare">
    <h3> How do you feel today?</h3>
    <h4>
      Here are some essentiall Tips to bring the body and mind in balance</h4></div>


<div class="categoryBtns">
  <a href="/selfcare/category?category=Breathing-excercise">
    <button class="darkorange">Breathing-excercise</button>
  </a>
  <a href="/selfcare/category?category=Cosmetics">
    <button class="palegreen">Cosmetics</button>
  </a>
  <a href="/selfcare/category?category=Bodycare">
    <button class="gold">Bodycare</button>
  </a>
</div>
</div>

<h3 class="goBack">
  <a href="/account"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>