<h1>All selfcare categories</h1>

<form action="/selfcare/search" method="GET">
  <label>
    <h3> How you feel today?</h3>
    <h4>~ Here are some essentiall Tips to bring the body and mind in balance ~</h4>
    <input type="text" placeholder=" Search by theme" name="theme" />
    <button type="submit">Search</button>
  </label>
</form>

<div>
  <a href="/selfcare/category?category=Breathing-excercise">
    <button>Breathing-excercise</button>
  </a>
  <a href="/selfcare/category?category=Cosmetics">
    <button>Cosmetics</button>
  </a>
  <a href="/selfcare/category?category=Bodycare">
    <button>Bodycare</button>
  </a>
</div>

<h3><i>
    <a href="/account">Go back</a>
  </i>
</h3>