<form class="search" action="/authentication/create-account" method="POST">
  <label for="input-name">Name</label>
  <input
    class="large"
    type="text"
    id="input-name"
    name="name"
    placeholder="Your Name"
  />
  <label for="input-email">Email</label>
  <input
    class="large"
    type="email"
    id="input-email"
    name="email"
    placeholder="Your Email"
  />
  <label for="input-password">Password</label>
  <input
    class="large"
    type="password"
    name="password"
    id="input-password"
    placeholder="A Strong Password"
  />
  <button>Create account</button>
</form>