<img id="startLogo" src="/images/logo.png" alt="LemongrApp logo" />

<h1>Are you sure you want to delet your account?</h1>

<form method="POST" action="/authentication/delete-request/delete">
  <button class="outline">Delete Account</button>
</form>