{{!
<div class="col">
  <img src="/images/surprised-lemon.png" alt="lemon" />
</div>
}}

<div class="container deletPhrase">
  <div class="row row-centered">
    <div class="col bubble">
      <article>Oh no!</article>
    </div>
    <div class="col">
      <img src="/images/surprised-lemon.png" alt="lemon" />
    </div>
  </div>
</div>

<h1 class="lemonFont">Are you sure you want to delet your account?</h1>

<form method="POST" action="/authentication/delete-request/delete">
  <button class="darkorange">Delete Account</button>
</form>