<div class="col">
  <img src="/public/images/surprised-lemon.png" alt="lemon" />
</div>

<h1>Are you sure you want to delet your account?</h1>

<form method="POST" action="/authentication/delete-request/delete">
  <button class="outline">Delete Account</button>
</form>