<img id="startLogo" src="/images/logo.png" alt="LemongrApp logo" />

<h1 class="greentext">Welcome to <strong>LemongrApp</strong></h1>

<p class="startText">
  Actually, if life gives you lemons, you are in luck because they are not only
  versatile, they're really healthy, too. That's because they contain a lot of
  vitamins and minerals which act in the body in a similar way as alkaline
  water. We are here to show you the versatillity of alkaline foods and tips for
  a balanced way of life.
</p>

<h5 class="startTextBig"><strong>LemongrApp</strong>
  is designed as a guide to easy accessible healthy food ideas and an overall
  healthy lifestyle. For more information and features, click register link on
  top!
</h5>