<h1 class="headline">Here a little about alkaline diets</h1>

<h6 class="intro">Not only is the body a true marvel, it's also incredibly
  patient and forgiving. It has a constant underlying endeavor consisting of
  keeping its physiological functions in balance at all times. In medical terms,
  this is referred to as homeostasis. To preserve the balance between acids and
  alkalines in our body, for example, the body makes use of various buffer
  systems . These ensure the ongoing neutralization of excess acid. For this to
  happen, it is vital that the kidneys, lungs, blood and liver are functioning
  properly. “The body is an expert in balancing out inner imbalances. Luckily,
  knocking it off balance to the extent that it becomes critical is not easy to
  do. It possesses numerous compensatory mechanisms for balancing out
  fluctuations. The body attempts to regulate everything that might acutely
  throw the acid-alkaline levels off balance, and on the whole it is very good
  at doing so</h6>

<p class="question">To find out whether your lifestyle generally has an
  acid-forming, alkaline-forming or neutral impact on your organism, it's best
  to reflect on your day-to-day routine. The following questions are helpful
  when doing so:</p>

<h4 class="headline">What food do you eat and in what proportions?</h4>
<li class="listings">Do you move a lot, do you perhaps even practice sports
  intensively, or do you spend the majority of your day sitting down?</li>
<li class="listings">What stimulants do you indulge in and to what extent?</li>
<li class="listings">Is your workday pretty calm or on the stressful side?</li>

<h4 class="headline">THE RIGHT DIET FOR BALANCED ACID-ALKALINE LEVELS</h4>
<p class="text">To find out which foods have an acidic, alkaline or neutral
  effect on the body, read our article “The 7 most effective tips for a strong
  immune system”. “Make sure that each main meal always includes vegetables and
  that this portion is larger than the portion of fish or meat,” is Dr.
  Zancolo's advice for ensuring an alkaline-based diet. But beware: Raw
  vegetables in the evening are not a good solution! You can read more here to
  find out why it's essential that you avoid raw food in the evening. What's
  more, you can also find numerous inspiring recipes and nutrition tips in the
  new VIVAMAYR cookbook “Veggie Stars”, which was published in summer 2021.
</p>

<div class="texti">
  <h4>RELAXATION HAS A HARMONIZING EFFECT ON THE ACID-ALKALINE LEVELS</h4></div>

<p class="text">Integrate moments of relaxation into your daily routine and
  allow yourself to take real breaks. These help to regulate the acid-alkaline
  balance. “Relaxation contributes to our overall balance. When the
  parasympathetic part of the autonomic nervous system is regularly activated,
  this automatically contributes to relaxation and the acidity levels in the
  body are reduced,” explains Dr. Zancolo. Gentle forms of movement such as yoga
  or yogic breathing techniques (also known as pranayama), for example, help to
  deepen breathing, allowing more carbon dioxide to be exhaled. This supports
  detoxification, and consequently also the balance of acids and alkalines in
  the body.</p>

<p class="text">An alkaline diet describes is the concept that different types
  of food can have an effect on the pH balance of the body. It originated from
  the acid ash hypothesis, which primarily related to osteoporosis research. It
  is believed that certain foods can affect the acidity (pH) of the body and
  that the change in pH can therefore be used to treat or prevent disease</p>
<p class="text">Alternative medicine practitioners who have promoted the
  alkaline diet have advocated its use in the treatment of various medical
  conditions, including cancer. This version of the diet, in addition to
  avoiding meats and other proteins, also advocates avoiding processed foods,
  white sugar, white flour, and caffeine, and can involve specific exercise and
  nutritional supplement regimens as well</p>

<h3 class="goBack">
  <a href="javascript:history.back()"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>