<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      {{#if user}}
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <a href="/account"><button>Your account</button></a>
            </div>
            <div class="col-6">
              <img
                id="lemonLogo"
                src="/images/logo.png"
                alt="LemongrApp logo"
              />
            </div>
            <div class="col">
              <form action="/authentication/log-out" method="POST">
                <button>Log out</button>
              </form>
            </div>
          </div>
        </div>
      {{else}}
        <a href="/authentication/create-account">Register to find out more</a>
        <a href="/authentication/log-in">Log in</a>
      {{/if}}
    </nav>

    <div class="container">
      {{{body}}}
    </div>

    <script src="/scripts/script.js"></script>
  </body>
</html>