<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <nav>
      <a href="/account">Your account</a>
      {{#if user}}
        <form action="/authentication/log-out" method="POST">
          <button>Log out</button>
        </form>
      {{else}}
        <a href="/authentication/create-account">Create account</a>
        <a href="/authentication/log-in">Log in</a>
      {{/if}}
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>