<h3>Your ingredients search result</h3>

{{!suche nach ingredient hat stattgefunden, hier muss der link hin, der das REZEPT rendert}}
<div><ul>
  {{#each recipes}}
    <li>
      <a href="/recipes/single-recipe">
      {{> categoryPartial}}
      </a>
    </li>
  {{/each}}
</ul>
</div>
<h3>
  <i>
    <a href="/recipes">Go back</a>
  </i>
</h3>