 <div class="container">
 
  <a class="bigger" href="/recipes">Recipes</a>

<h1 class="lemonFont"> Your Favorites</h1>
{{#each favorites}}
{{> categoryPartial recipe}}
</div>

{{/each}}
<h3 class="goBack">
  <a href="/account"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>
