<h1>Lunch</h1>

<ul>
  {{#each recipes}}
    <li>
      <a href="/recipes/category/{{_id}}">
        <img src="{{picture}}" alt="{{title}}" />
        <h5>{{title}}</h5>
      </a>
    </li>
  {{/each}}
</ul>

<h3><i>
    <a href="/recipes/category/lunch">Go back</a>
  </i>
</h3>