<h1>Why is te category not shown?</h1>
<h1>{{recipes.category}}</h1>
<h1>{{recipe.category}}</h1>
<h1>{{category}}</h1>

<div>
<ul>
  {{#each recipes}}
    {{> categoryPartial}}
  {{/each}}
</ul>
</div>

<h3><i>
    <a href="/recipes">Go back</a>
  </i>
</h3>