<h1>{{categoryParent}}</h1>
  <a href="/favorite">Your favorites</a>

<div>
<ul>
  {{#each recipesToRender}}
    {{> categoryPartial}}
  {{/each}}
</ul>
</div>

<h3 class="goBack">
    <a href="/recipes">Go back</a>
</h3>