  <a class="bigger" href="/favorite">Your favorites</a>
<h1 class="lemonFont">{{categoryParent}}</h1>

<div>
<ul>
  {{#each recipesToRender}}
    {{> categoryPartial}}
  {{/each}}
</ul>
</div>

<h3 class="goBack">
  <a href="/recipes"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>