<h1 class="lemonFont">Create your own recipe!</h1>

<hp>But do not forget: only alkaline recipes! Our rule is 80% alkaline, 20%
  other vegan ingredients! <br> You don't know which ingredients are alkaline? Check
  this
  <a href="/recipes/food-list"> <strong>alkaline food list</strong></a>!</p>


<form method="POST" action="/create" enctype="multipart/form-data">

<label for="input-category">What kind of food?</label>
<div>
<input class="input-breakfast" type="radio" name="category" value="Breakfast"/>
<label for="input-breakfast">Breakfast</label>
</div>
<div>
<input class="input-lunch" type="radio" name="category" value="Lunch"/>
<label for="input-lunch">Lunch</label>
</div>
<div>
<input class="input-dinner" type="radio" name="category" value="Dinner"/>
<label for="input-dinner">Dinner</label>
</div>
<div>
<input class="input-drinks" type="radio" name="category" value="Drinks"/>
<label for="input-drinks">Drinks</label>
</div>

<label for="input-picture">Upload a picture of the dish</label>
<input id="input-picture" type="file" name="picture" required/> 

<input id="input-title" type="text" placeholder="Title of the recipe" name="title" minlength='2' maxlength="15" required/>

<label for="input-ingredients">Ingredient List <small>(List ingredients separated by a comma)</small></label>
<input id="input-ingredients" type="text" placeholder="Ingredients of the recipe" name="ingredients" required/>

<textarea id="input-instruction" placeholder="Instruction for the recipe" name="instruction" required>
</textarea>
<p>Everything right?</p>
<button class="lemonFont seagreen" >Then publish</button>
</form>
   
   
<h3 class="goBack">
  <a href="/recipes"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>
   

    

    