<img
  src="/images/alkalineFoodList.png"
  alt="alkaline food list from http://www.alkaline-diet-health-tips.com"
/>
<p>For more information check the source:
  http://www.alkaline-diet-health-tips.com</p>

<h3 class="goBack">
  <a href="/recipes"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>