<h1>Alkaline Food List</h1>

<img
  src="./../public/images/alkalineFoodList.png"
  alt="alkaline food list from http://www.alkaline-diet-health-tips.com"
/>
<p>For more information check the source:
  http://www.alkaline-diet-health-tips.com</p>

<h3>
  <i>
    <a href="/recipes">Go back</a>
  </i>
</h3>