<h1>Create your own recipe!</h1>

<hp>But do not forget: only alkaline recipes! Our rule is 80% alkaline, 20%
  other vegan ingredients! <br> You don't know which ingredients are alkaline? Check
  this
  <a href="/recipes/food-list"> <strong>alkaline food list</strong></a>!</p>


<form method="POST" action="/recipes/create" enctype="multipart/form-data">

<label for="input-category">Food category:</label>
<div>
<input class="input-breakfast" type="radio" name="breakfast" value="breakfast"/>
<label for="input-breakfast">Breakfast</label>
</div>
<div>
<input class="input-lunch" type="radio" name="lunch" value="lunch"/>
<label for="input-lunch">Lunch</label>
</div>
<div>
<input class="input-dinner" type="radio" name="dinner" value="dinner"/>
<label for="input-dinner">Dinner</label>
</div>
<div>
<input class="input-drinks" type="radio" name="drinks" value="drinks"/>
<label for="input-drinks">Drinks</label>
</div>

<label for="input-picture">Upload a picture of the recipe</label>
<input id="input-picture" type="file" name="picture"/>

<input id="input-title" type="text" placeholder="Title of the recipe" name="title" minlength='2' maxlength="15" />

<input id="input-ingredients" type="text" placeholder="Ingredients of the recipe" name="ingredients"/>

<input id="input-instruction" type="textarea" placeholder="Instruction for the recipe" name="instruction"/>

<p>Everything right?</p>
<button>Then publish</button>
</form>
   
   
<h3>
  <i>
    <a href="/recipes">Go back</a>
  </i>
</h3>
   

    

    