<a href="/recipes">Recipes</a>
<h1>Your recipes</h1>

<div>
  <ul>
    {{#each publications}}
      {{> publicationPartial }}
    {{/each}}
  </ul>
</div>


<h3 class="goBack">
  <a href="javascript:history.back()"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>



