<h1>All recipe categories</h1>

<div>
  <a href="/recipes?category=Breakfast">
    <button>Breakfast</button>
  </a>
  <a href="/recipes?category=Lunch">
    <button>Lunch</button>
  </a>
  <a href="/recipes?category=Dinner">
    <button>Dinner</button>
  </a>
  <a href="/recipes?category=Snacks">
    <button>Snacks</button>
  </a>
  <a href="/recipes?category=Sweets">
    <button>Sweets</button>
  </a>
  <a href="/recipes?category=Drinks">
    <button>Drinks</button>
  </a>
</div>

{{#each recipes}}

  <div>
    {{this.title}}
  </div>

{{/each}}

{{!--
<div>
  <form method="GET" action="/recipes/category">
    {{#each recipes}}
      <button>{{category}}</button>
    {{/each}}
  </form>
</div>
--}}