<h1>All recipe categories</h1>

<h3> What's cookin'?</h3>
<form class="search" action="/recipes/search" method="GET">
  <label>
    <input
      class="outline"
      type="text"
      placeholder="Search by ingredient"
      name="alkalinefood"
      required
    />
    <button class="hover" type="submit">Search</button>
  </label>
  {{#if noRecipes}}
    <p class="error">{{error}}</p>
  {{/if}}
  <p>You don't know which ingredients are alkaline? Check ingredients by
    <a href="/recipes/food-list"><strong>Alkaline Food List</strong></a></p>
</form>

<h3>Search by category</h3>

<div class="categoryBtns">
  <a href="/recipes/category?category=Breakfast">
    <button class="btn btn-lg gold" type="button">Breakfast</button>
  </a>
  <a href="/recipes/category?category=Lunch">
    <button class="btn btn-lg palegreen" type="button">Lunch</button>
  </a>
  <a href="/recipes/category?category=Dinner">
    <button class="btn btn-lg darkorange" type="button">Dinner</button>
  </a>
  <a href="/recipes/category?category=Drinks">
    <button class="btn btn-lg seagreen" type="button">Drinks</button>
  </a>
  <a href="/create">
    <button class="btn btn-lg outline" type="button"><strong>Add your own
        recipe!</strong></button>
  </a>
</div>

<h3 class="goBack">
  <a href="/account"><img
      alt="goBack"
      src="/images/go-back.png"
      class="arrowBack"
    /></a>
</h3>