<h1>All recipe categories</h1>

<form action="/recipes/search" method="GET">
  <label>
    <h3> What's cookin'?</h3>
    <input
      type="text"
      placeholder="Search by ingredient"
      name="alkalinefood"
      required
    />
    <button type="submit">Search</button>
  </label>
  {{#if noRecipes}}
    <p class="error">{{error}}</p>
  {{/if}}
  <p>You don't know which ingredients are alkaline? Check ingredients by
    <a href="/recipes/food-list"><strong>Alkaline Food List</strong></a></p>
</form>

<h3>Search by category</h3>

<div class="d-grid gap-2 categoryBtns">
  <a href="/recipes/category?category=Breakfast">
    <button class="btn btn-lg" type="button">Breakfast</button>
  </a>
  <a href="/recipes/category?category=Lunch">
    <button class="btn btn-lg" type="button">Lunch</button>
  </a>
  <a href="/recipes/category?category=Dinner">
    <button class="btn btn-lg" type="button">Dinner</button>
  </a>
  <a href="/recipes/category?category=Drinks">
    <button class="btn btn-lg" type="button">Drinks</button>
  </a>
  <a href="/create">
    <button class="btn btn-lg" type="button"><strong>Add your own recipe!</strong></button>
  </a>
</div>

<h3>
  <i>
    <a href="/account">Go back</a>
  </i>
</h3>