<h2>That's what's gonna cook!</h2>

<div>
  <ul>
    {{#each recipes}}
      <li>
        <a href="/recipes/category/{{_id}}">
          <h2>{{title}}</h2>
          <img src="{{picture}}" alt="{{title}}" />
        </a>
      </li>
    {{/each}}
  </ul>
</div>

<h3 class="goBack">
  <a href="/recipes">Go back</a>
</h3>